template(name='header')
  h1 project project
  nav
    a(href="{{pathFor 'dashboard'}}") dashboard
    a(href="{{pathFor 'profile'}}") profile
    a(href="{{pathFor 'about'}}") about
    if signedIn
      a(href="/sign-out") sign out
