template(name='dashboard')
  h1 hi, user, here's ur things

  dl
    each projects
      dt name: #{name}
      dd pitch: #{pitch}
      hr

  h1 make a new project

  +quickForm(collection='Projects' id='new-project-form' type='insert' omitFields='user')
